<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko">
<head>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async>
    </script>
    <meta charset="UTF-8">
    <title>inmo-인기 검색어 모아보기</title>
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <script data-ad-client="ca-pub-4973537494905596" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <style> table.type11 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
    }
    table.type11 th {
    width: 155px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #ce4869 ;
    }
    table.type11 td {
    width: 155px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
    }
    </style>
</head>
<body leftmargin='0' topmargin='0' marginwidth='0' barginheight='0' >

    <table border="0" width="1000" height="800" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td width="160" align="center" > 
        <ins class="kakao_ad_area" style="display:none;" 
        data-ad-unit    = "DAN-1iv73cgdtszec" 
        data-ad-width   = "160" 
        data-ad-height  = "600"></ins> 
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        <script src="https://ads-partners.coupang.com/g.js"></script>
        <script>
            new PartnersCoupang.G({"id":329630,"subId":null});
        </script>
        </td>
        
        <td width="840" align="center" >
            <h1>인기 검색어 모아보기</h1>
            <table class="type11"></center>
    <thead>        
    <tr>
        
        <th scope="cols">순위</th>
        <th scope="cols">네이버</th>
        <th scope="cols">줌</th>
        <th scope="cols">구글</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_1}}" target="_blank">{{naverdata_1}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_1}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_1}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_1}}&oq=%{{googledata_1}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_1}}</a></th>


    </tr>
    <tr>
        <td>2</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_2}}" target="_blank">{{naverdata_2}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_2}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_2}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_2}}&oq=%{{googledata_2}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_2}}</a></th>
    </tr>
    <tr>
        <td>3</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_3}}" target="_blank">{{naverdata_3}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_3}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_3}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_3}}&oq=%{{googledata_3}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_3}}</a></th>
    </tr>
    <tr>
        <td>4</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_4}}" target="_blank">{{naverdata_4}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_4}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_4}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_4}}&oq=%{{googledata_4}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_4}}</a></th>
    </tr>
    <tr>
        <td>5</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_5}}" target="_blank">{{naverdata_5}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_5}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_5}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_5}}&oq=%{{googledata_5}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_5}}</a></th>
    </tr>
    <tr>
        <td>6</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_6}}" target="_blank">{{naverdata_6}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_6}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_6}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_6}}&oq=%{{googledata_6}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_6}}</a></th>
    </tr>
    <tr>
        <td>7</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_7}}" target="_blank">{{naverdata_7}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_7}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_7}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_7}}&oq=%{{googledata_7}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_7}}</a></th>
    </tr>
    <tr>
        <td>8</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_8}}" target="_blank">{{naverdata_8}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_8}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_8}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_8}}&oq=%{{googledata_8}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_8}}</a></th>
    </tr>
    <tr>
        <td>9</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_9}}" target="_blank">{{naverdata_9}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_9}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_9}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_9}}&oq=%{{googledata_9}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_9}}</a></th>
    </tr>
    <tr>
        <td>10</th>
        <td><a href="https://search.naver.com/search.naver?sm=top_hty&fbm=0&ie=utf8&query={{naverdata_10}}" target="_blank">{{naverdata_10}}</a></th>
        <td><a href="http://search.zum.com/search.zum?query={{zumdata_10}}&qm=g_real1.top&real1_id=1&real1_type=unfold&method=uni&option=accu" target="_blank">{{zumdata_10}}</a></th>
        <td><a href="https://www.google.com/search?q={{googledata_10}}&oq=%{{googledata_10}}&aqs=chrome..69i57j0l5j69i60l2.2644j0j4&sourceid=chrome&ie=UTF-8" target="_blank">{{googledata_10}}</a></th>
    </tr>
    <tr>
        <td></td>
        <td><a href="https://datalab.naver.com/keyword/realtimeList.naver?where=main" target="_blank">더보기</a></td>
        <td><a href="http://issue.zum.com/" target="_blank">더보기</a></td>
        <td><a href="https://trends.google.co.kr/trends/?geo=KR" target="_blank">더보기</a></td>
    </tr>


    </tbody>
    
    </table>



<center><h1>음원 차트 모아보기</h1></center>
<center><table class="type11"></center>
    <thead>
    <tr>
        <th scope="cols">순위</th>
        <th scope="cols">멜론</th>
        <th scope="cols">지니</th>
        <th scope="cols">벅스</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</th>
        <td>{{melondata_1}}</a></th>
        <td>{{geniedata_1}}</a></th>
        <td>{{bugsdata_1}}</a></th>
    </tr>
    <tr>
        <td>2</th>
        <td>{{melondata_2}}</a></th>
        <td>{{geniedata_2}}</a></th>
        <td>{{bugsdata_2}}</a></th>
    </tr>
    <tr>
        <td>3</th>
        <td>{{melondata_3}}</a></th>
        <td>{{geniedata_3}}</a></th>
        <td>{{bugsdata_3}}</a></th>
    </tr>
    <tr>
        <td>4</th>
        <td>{{melondata_4}}</a></th>
        <td>{{geniedata_4}}</a></th>
        <td>{{bugsdata_4}}</a></th>
    </tr>
    <tr>
        <td>5</th>
        <td>{{melondata_5}}</a></th>
        <td>{{geniedata_5}}</a></th>
        <td>{{bugsdata_5}}</a></th>
    </tr>
    <tr>
        <td>6</th>
        <td>{{melondata_6}}</a></th>
        <td>{{geniedata_6}}</a></th>
        <td>{{bugsdata_6}}</a></th>
    </tr>
    <tr>
        <td>7</th>
        <td>{{melondata_7}}</a></th>
        <td>{{geniedata_7}}</a></th>
        <td>{{bugsdata_7}}</a></th>
    </tr>
    <tr>
        <td>8</th>
        <td>{{melondata_8}}</a></th>
        <td>{{geniedata_8}}</a></th>
        <td>{{bugsdata_8}}</a></th>
    </tr>
    <tr>
        <td>9</th>
        <td>{{melondata_9}}</a></th>
        <td>{{geniedata_9}}</a></th>
        <td>{{bugsdata_9}}</a></th>
    </tr>
    <tr>
        <td>10</th>
        <td>{{melondata_10}}</a></th>
        <td>{{geniedata_10}}</a></th>
        <td>{{bugsdata_10}}</a></th>
    </tr>
    <tr>
        <td></th>
        <td><a href="https://www.melon.com/chart/index.htm" target="_blank">더보기</a></th>
        <td><a href="https://www.genie.co.kr/chart/top200" target="_blank">더보기</a></th>
        <td><a href="https://music.bugs.co.kr/chart/track/realtime/total?wl_ref=M_contents_03_01" target="_blank">더보기</a></th>
    </tr>

    </tbody>
</table>


</body>
</html>